@(message: String)

@base("empty") {

<script type="text/javascript">
    $("#home").removeClass('active');
    $("#data").removeClass('active');
    $("#export").removeClass('active');
    $("#statistics").addClass('active');
    $("#summary").removeClass('active');
    $("#customsparql").removeClass('active');
</script>
    <div class="page-header">
        <h1>Statistics - Time</h1>
    </div>

    <style>
        table, th, td
        {
        padding:5px;
        }
        table
        {
        border-spacing:15px;
        }
    </style>

    <div class="bs-example bs-example-tabs">
        <ul id="myTab" class="nav nav-tabs">
            <li class="active"><a href="#workflow" data-toggle="tab">Workflow</a></li>
            <li><a href="#activity" data-toggle="tab">Activity</a></li>
            <li><a href="#participant" data-toggle="tab">Participant</a></li>

        </ul>
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade in active" id="workflow">
                <br/>
                <div class="container">
                    <div class="row">
                        <h5>Calculates times metrics for imported workflows.</h5>
                        <div class="row">

                            <div class="col-md-6">
                                <h4>Set Filter</h4>
                                <table class="myDetailsFilter" cellspacing="0" width="500">
                                    <tr>
                                        <td>System</td>
                                        <td><div class="myDetailsFilter"  id='w_filter_systemnames'></div></td>
                                    </tr>
                                    <tr>
                                        <td>Workflow Name</td>
                                        <td><div class="myDetailsFilter"  id='w_filter_workflownames'></div></td>
                                    </tr>
                                </table>
                            </div>
                            <div class="col-md-6">
                                <h4>Select Metrics</h4>
                                <div class="btn-group" data-toggle="buttons">
                                    <label id="metrics_w_t" class="btn btn-default active">
                                        <input type="checkbox" name="options" > Turnaround
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br/><br/>
                <div style="float: left"><button type="button" class="btn btn-primary" onclick="showResultsWorkflow()">Get Results</button></div>

                <div style="float: right"  id='content'>
                    <script type="text/javascript">
                        $(document).ready(function () {
                            var source = [
                                "Seconds",
                                "Minutes",
                                "Hours",
                                "Days",
                            ];
                            // Create a jqxDropDownList
                            $("#timeFormatWorkflow").jqxDropDownList({ source: source, selectedIndex: 1, width: '100px', height: '30px' });
                            // disable the sixth item.
                            $("#timeFormatWorkflow").jqxDropDownList('disableAt', 5);
                            // bind to 'select' event.
                            $('#timeFormatWorkflow').bind('select', function (event) {
                                var args = event.args;
                                var item = $('#timeFormatWorkflow').jqxDropDownList('getItem', args.index);
                                w_timeFormat = item.label;
                                fillWorkflowResultsTable();
                                //alert('Selected: ' + item.label);
                            });
                        });
                    </script>
                    <div id='timeFormatWorkflow'>
                    </div>
                </div>

                <br/><br/><br/>

                <div  class="panel panel-default">
                    <div class="panel-heading">Result</div>
                    <div class="panel-body">
                        <table id="workflowStatisticsResult" class="table table-striped table-bordered" cellspacing="0" width="100%">
                            <thead>
                            <tr>
                                <th>System</th>
                                <th>Workflow</th>
                                <th>Turnaround Time</th>
                            </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade in" id="activity">
                <br/>
                <div class="container">
                    <div class="row">
                        <h5>Calculates times metrics for imported activities.</h5>
                        <div class="row">
                            <div class="col-md-6">
                                <h4>Set Filter</h4>
                                <table class="myDetailsFilter" cellspacing="0" width="100%">
                                    <tr>
                                        <td>System</td>
                                        <td><div class="myDetailsFilter"  id='a_filter_systemnames'></div></td>
                                    </tr>
                                    <tr>
                                        <td>Workflow Name</td>
                                        <td><div class="myDetailsFilter"  id='a_filter_workflownames'></div></td>
                                    </tr>
                                    <tr>
                                        <td>Activity Name</td>
                                        <td><div class="myDetailsFilter"  id='a_filter_activitynames'></div></td>
                                    </tr>
                                </table>
                            </div>
                            <div class="col-md-6">
                                <h4>Select Metrics</h4>
                                <div class="btn-group" data-toggle="buttons">
                                    <label id="metrics_a_t" class="btn btn-default active">
                                        <input type="checkbox" name="options" > Turnaround
                                    </label>
                                    <label id="metrics_a_a" class="btn btn-default active">
                                        <input type="checkbox" name="options" > Running
                                    </label>
                                    <label id="metrics_a_s" class="btn btn-default active">
                                        <input type="checkbox" name="options" > Suspend
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br/><br/>
                <div style="float: left"><button style="float: left" type="button" class="btn btn-primary" onclick="showResultsActivity()">Get Results</button></div>

                <div style="float: right" id='content'>
                    <script type="text/javascript">
                        $(document).ready(function () {
                            var source = [
                                "Seconds",
                                "Minutes",
                                "Hours",
                                "Days",
                            ];
                            // Create a jqxDropDownList
                            $("#timeFormatActivity").jqxDropDownList({ source: source, selectedIndex: 1, width: '100px', height: '30px' });
                            // disable the sixth item.
                            $("#timeFormatActivity").jqxDropDownList('disableAt', 5);
                            // bind to 'select' event.
                            $('#timeFormatActivity').bind('select', function (event) {
                                var args = event.args;
                                var item = $('#timeFormatActivity').jqxDropDownList('getItem', args.index);
                                a_timeFormat = item.label;
                                fillActivityResultsTable();
                                //alert('Selected: ' + item.label);
                            });
                        });
                    </script>
                    <div id='timeFormatActivity'>
                    </div>
                </div>
                <br/><br/><br/>

                <div  class="panel panel-default">
                    <div class="panel-heading">Result</div>
                    <div class="panel-body">
                        <div id="activityResult">
                            <table id="activityStatisticsResult" class="table table-striped table-bordered" cellspacing="0" width="100%">
                                <thead>
                                <tr>
                                    <th>System</th>
                                    <th>Workflow</th>
                                    <th>Activity</th>
                                    <th>Turnaround Time</th>
                                    <th>Running Time</th>
                                    <th>Suspend Time</th>
                                </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade in" id="participant">
                <br/>

                    <div class="container">
                        <div class="row">
                            <h5>Calculates the total running or suspend time for all performed activities for the selected users (only users that took part in a workflow are selectable).</h5>
                            <div class="row">
                                <div class="col-md-6">
                                    <h4>Set Filter</h4>
                                    <table class="myDetailsFilter" cellspacing="0" width="100%">
                                        <tr>
                                            <td>System</td>
                                            <td><div class="myDetailsFilter"  id='p_filter_systemnames'></div></td>
                                        </tr>
                                        <tr>
                                            <td>Role</td>
                                            <td><div class="myDetailsFilter"  id='p_filter_rolenames'></div></td>
                                        </tr>
                                        <tr>
                                            <td>User</td>
                                            <td><div class="myDetailsFilter"  id='p_filter_usernames'></div></td>
                                        </tr>
                                    </table>
                                </div>
                                <div class="col-md-6">
                                    <h4>Select Metrics</h4>
                                    <div class="btn-group" data-toggle="buttons">
                                        <label id="metrics_p_r" class="btn btn-default active">
                                            <input type="radio" name="options" > Running
                                        </label>
                                        <label id="metrics_p_s" class="btn btn-default">
                                            <input type="radio" name="options" > Suspend
                                        </label>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <br/><br/>
                    <div style="float: left"><button style="float: left" type="button" class="btn btn-primary" onclick="showResultsParticipant()">Get Results</button></div>

                    <div style="float: right" id='content'>
                        <script type="text/javascript">
                        $(document).ready(function () {
                            var source = [
                                "Seconds",
                                "Minutes",
                                "Hours",
                                "Days",
                            ];
                            // Create a jqxDropDownList
                            $("#timeFormatParticipant").jqxDropDownList({ source: source, selectedIndex: 1, width: '100px', height: '30px' });
                            // disable the sixth item.
                            $("#timeFormatParticipant").jqxDropDownList('disableAt', 5);
                            // bind to 'select' event.
                            $('#timeFormatParticipant').bind('select', function (event) {
                                var args = event.args;
                                var item = $('#timeFormatParticipant').jqxDropDownList('getItem', args.index);
                                p_timeFormat = item.label;
                                //fillParticipantResultsTable();
                                showResultsParticipant();
                                //alert('Selected: ' + item.label);
                            });
                        });
                    </script>
                        <div id='timeFormatParticipant'></div>
                    </div>

                <br/><br/><br/>


                <div id="participantCharts"  class="panel panel-default">
                    <div class="panel-heading">Result</div>
                    <div class="panel-body">

                    </div>
                </div>


        </div>
    </div>

    <!-- My JS -->

    <script src="@routes.Assets.at("js/custom/statistics/statistics_time_general.js")"></script>
    <script src="@routes.Assets.at("js/custom/statistics/statistics_time_workflow.js")"></script>
    <script src="@routes.Assets.at("js/custom/statistics/statistics_time_activity.js")"></script>
    <script src="@routes.Assets.at("js/custom/statistics/statistics_time_participant.js")"></script>
}