@(title: String)(content: Html)

<html>
<head>
    <link rel="shortcut icon" href="@routes.Assets.at("images/favicon.PNG")">

    <link rel="stylesheet" type="text/css" href="@routes.Assets.at("css/bootstrap/bootstrap.min.css")">
    <link rel="stylesheet" type="text/css" href="@routes.Assets.at("css/bootstrap/bootstrap-theme.min.css")">
    <link rel="stylesheet" type="text/css" href="@routes.Assets.at("css/bootstrap/dataTables.bootstrap.css")">

    <link rel="stylesheet" type="text/css" href="@routes.Assets.at("css/jquery/jquery.dataTables.css")">
    <link rel="stylesheet" type="text/css" href="@routes.Assets.at("css/jquery/jquery.dataTables.css")">

    <link rel="stylesheet" type="text/css" href="@routes.Assets.at("css/sparql/codemirror.css")">
    <link rel="stylesheet" type="text/css" href="@routes.Assets.at("css/sparql/default.css")">

    <link rel="stylesheet" type="text/css" href="@routes.Assets.at("css/jqwidgets/jqx.base.css")">

    <link rel="stylesheet" type="text/css" href="@routes.Assets.at("css/custom/custom.css")">

    <script src="@routes.Assets.at("js/jquery/jquery-2.1.1.min.js")"></script>
    <script src="@routes.Assets.at("js/bootstrap/bootstrap.min.js")"></script>
    <script src="@routes.Assets.at("js/bootstrap/alert.js")"></script>
    <script src="@routes.Assets.at("js/bootstrap/notify.js")"></script>
    <script src="@routes.Assets.at("js/bootstrap/transition.js")"></script>
    <script src="@routes.Assets.at("js/jquery/jquery.dataTables.js")"></script>

    <script src="@routes.Assets.at("js/jqwidgets/jqxcore.js")"></script>
    <script src="@routes.Assets.at("js/jqwidgets/jqxdata.js")"></script>
    <script src="@routes.Assets.at("js/jqwidgets/jqxbuttons.js")"></script>
    <script src="@routes.Assets.at("js/jqwidgets/jqxscrollbar.js")"></script>
    <script src="@routes.Assets.at("js/jqwidgets/jqxlistbox.js")"></script>
    <script src="@routes.Assets.at("js/jqwidgets/jqxcombobox.js")"></script>
    <script src="@routes.Assets.at("js/jqwidgets/jqxcheckbox.js")"></script>
    <script src="@routes.Assets.at("js/jqwidgets/jqxdropdownlist.js")"></script>
    <script src="@routes.Assets.at("js/jqwidgets/jqxdraw.js")"></script>
    <script src="@routes.Assets.at("js/jqwidgets/jqxchart.js")"></script>
    <script src="@routes.Assets.at("js/jqwidgets/jqxchart.core.js")"></script>
    <script src="@routes.Assets.at("js/jqwidgets/jqxdraw.js")"></script>

    <script src="@routes.Assets.at("js/config/config.js")"></script>
    <script src="@routes.Assets.at("js/custom/general/generalFunctions.js")"></script>


</head>
<body>
<div class="container">

    <header class="row">
        <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">

            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="home" title="Home">Semantic Process Intelligence</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li id="data"><a href="data" title="Data" >Import</a></li>
                    <li id="export"><a href="export" title="Export" >Export</a></li>
                    <li id="summary"><a href="summary" title="Summary" >Summary</a></li>
                    <li id="statistics" class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Statistics <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li id="statistics_quality"><a href="statistics_quality" title="Quality">Quality</a></li>
                            <li id="statistics_time"><a href="statistics_time" title="Time">Time</a></li>
                            <li id="statistics_controlflow"><a href="statistics_controlflow" title="ControlFlow">Control Flow</a></li>
                        </ul>
                    </li>
                    <li id="customsparql"><a href="query" title="Custom SPARQL Query">Custom SPARQL Query</a></li>
                </ul>

                <div class="navbar-form navbar-right"><a href="settings"><input
                        type="button" class="btn btn-success" value="Settings"/></a></div>

                <form class="navbar-form navbar-right" role="form" method="post" action="@routes.Navigation.logout()">
                    <button type="submit" class="btn btn-danger">Logout</button>
                </form>
            </div>

        </div>
        </div>
    </header>

    <br/><br/>


    <div id="main" class="row">
        @content
    </div>
</div>
</body>
</html>