@(message: String)

@base("empty") {

<script type="text/javascript">
    $("#home").removeClass('active');
    $("#data").addClass('active');
    $("#export").removeClass('active');
    $("#statistics").removeClass('active');
    $("#summary").removeClass('active');
    $("#customsparql").removeClass('active');

    var message = '@Html(message)';

    //alert(message);
    if (message != null && message != '')
    {
        if (message == 'success') $.notify("Import successfully finished", { className: 'success', position: 'bottom right' });
        else if (message != 'empty') $.notify(message, { className: 'error', position: 'bottom right' });
    }
</script>

<div class="page-header">
    <h1>Import</h1>
</div>


<div class="btn-group">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
        Further Actions
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
        <li><a href="#" id="action_emptyTripleStore">Delete All Event Data</a></li>
        <li><a href="#" id="action_reasonOverTripleStore">Reason Over Event Data</a></li>
    </ul>
</div>

<br/><br/>

<div class="bs-example bs-example-tabs">
    <ul id="myTab" class="nav nav-tabs">
        <li class="active"><a href="#synthetic" data-toggle="tab">Synthetic</a></li>
        <li><a href="#stardust" data-toggle="tab">Stardust</a></li>
        <li><a href="#camunda" data-toggle="tab">Camunda</a></li>

    </ul>
    <div id="myTabContent" class="tab-content">
        <div class="tab-pane fade in active" id="synthetic">
            <br />
            <form name="fileUploadForm" method="post" enctype="multipart/form-data" action="@routes.Application.importSynthetic()">
                <div style="width:50%; float:left" class="form-group">
                    <label class="control-label" for="rdfURI">RDF Base URI</label>
                    <input id="rdfURI" name="rdfURI" type="text" placeholder="" class="form-control input-md" required="" value="http://www.synthetic1.com/model.rdf">
                    <span class="help-block">E.g.: http://www.synthetic1.com/model.rdf</span>
                    <label class="control-label" for="systemName">System Name</label>
                    <input id="systemName" name="systemName" type="text" placeholder="" class="form-control input-md" required="" value="Synthetic 1">
                    <span class="help-block">E.g.: Synthetic 1</span>

                    Workflow.xlsx: <br /> <input required="" type="file" name="filePart1" id="filePart1"><br />
                    Event.xlsx: <br /> <input required="" type="file" name="filePart2" id="filePart2"><br />
                    Context.xlsx: <br /> <input required="" type="file" name="filePart3" id="filePart3"><br />

                    <div class="checkbox">
                        <label>
                            <input id="reasoning" name="reasoning" type="checkbox" checked="true"> Apply Reasoning After Import
                        </label>
                    </div>

                    <button type="submit" name="import" class="btn btn-primary">Start Import</button>
                </div>
                <div style="float:right"><img width="150" height="150" src="@routes.Assets.at("images/excel.PNG")" alt="..."></div>
            </form>
        </div>
        <div class="tab-pane fade in" id="stardust">
            <br/>
                <form role="form" action="@routes.Application.importStardust()" method="post">

                        <div style="width:50%; float:left" class="form-group">
                            <label class="control-label" for="dbURL">Database URL</label>
                            <input id="dbURL" name="dbURL" type="text" placeholder="jdbc:derby://localhost/carnot;user=carnot;password=ag" class="form-control input-md" required="" value="jdbc:derby://localhost/carnot;user=carnot;password=ag">
                            <span class="help-block">E.g.: jdbc:derby://localhost/carnot;user=carnot;password=ag</span>

                            <label class="control-label" for="rdfURI">RDF Base URI</label>
                            <input id="rdfURI" name="rdfURI" type="text" placeholder="" class="form-control input-md" required="" value="http://www.stardust.com/model.rdf">
                            <span class="help-block">E.g.: http://www.stardust.com/model.rdf</span>

                            <label class="control-label" for="systemName">System Name</label>
                            <input id="systemName" name="systemName" type="text" placeholder="" class="form-control input-md" required="" value="Stardust 1">
                            <span class="help-block">E.g.: Stardust 1</span>
                            <br />
                            <div class="checkbox">
                                <label>
                                    <input id="reasoning" name="reasoning" type="checkbox" checked="true"> Apply Reasoning After Import
                                </label>
                            </div>

                            <button type="submit" name="import" class="btn btn-primary">Start Import</button>
                        </div>
                        <div style="float:right"><img width="259" height="79" src="@routes.Assets.at("images/stardust.PNG")" alt="..."></div>
                </form>
        </div>
        <div class="tab-pane fade in" id="camunda">
            <br/>
            <form role="form" action="@routes.Application.importCamunda()" method="post">
                    <div style="width:50%; float:left" class="form-group">
                        <label class="control-label" for="restURL">Web Service URL</label>
                        <input id="restURL" name="restURL" type="text" placeholder="http://localhost:8080/engine-rest/" class="form-control input-md" required="" value="http://localhost:8080/engine-rest/">
                        <span class="help-block">E.g.: http://localhost:8080/engine-rest/</span>
                        <label class="control-label" for="rdfURI">RDF Base URI</label>
                        <input id="rdfURI" name="rdfURI" type="text" placeholder="" class="form-control input-md" required="" value="http://www.camunda.com/model.rdf">
                        <span class="help-block">E.g.: http://www.camunda.com/model.rdf</span>
                        <label class="control-label" for="systemName">System Name</label>
                        <input id="systemName" name="systemName" type="text" placeholder="" class="form-control input-md" required="" value="Camunda 1">
                        <span class="help-block">E.g.: Camunda 1</span>
                        <br />
                        <div class="checkbox">
                            <label>
                                <input id="reasoning" name="reasoning" type="checkbox" checked="true"> Apply Reasoning After Import
                            </label>
                        </div>

                        <button type="submit" name="import" class="btn btn-primary">Start Import</button>
                    </div>
                    <div style="float:right"><img width="220" height="51" src="@routes.Assets.at("images/camunda.PNG")" alt="..."></div>
            </form>
        </div>
    </div>
</div>

<script src="@routes.Assets.at("js/custom/import/import.js")"></script>

}