@(message: String)

@base("empty") {

<script type="text/javascript">
    $("#home").removeClass('active');
    $("#data").addClass('active');
    $("#statistics").removeClass('active');
    $("#summary").removeClass('active');
    $("#customsparql").removeClass('active');
</script>

<style>

</style>

 <br/>
<br/>
<form name="fileUploadForm" method="post" enctype="multipart/form-data" action="@routes.Application.emptyTripleStore()">
    <button type="submit" name="import" class="btn btn-primary">Empty Triple Store</button>
</form>

<form name="fileUploadForm" method="post" enctype="multipart/form-data" action="@routes.Application.reasonOverTripleStore()">
    <button type="submit" name="import" class="btn btn-primary">Reason over Triple Store</button>
</form>
<br/><br/>
<div class="bs-example bs-example-tabs">
    <ul id="myTab" class="nav nav-tabs">
        <li class="active"><a href="#synthetic" data-toggle="tab">Synthetic</a></li>
        <li><a href="#stardust" data-toggle="tab">Stardust</a></li>
        <li><a href="#camunda" data-toggle="tab">Camunda</a></li>

    </ul>
    <div id="myTabContent" class="tab-content">
        <div class="tab-pane fade in active" id="synthetic">

            <br />
            <form name="fileUploadForm" method="post" enctype="multipart/form-data" action="@routes.Application.importSynthetic()">
                Workflow.xlsx: <br /> <input type="file" name="filePart1" id="filePart1"><br />
                Event.xlsx: <br /> <input type="file" name="filePart2" id="filePart2"><br />
                Context.xlsx: <br /> <input type="file" name="filePart3" id="filePart3"><br />

                <button type="submit" name="import" class="btn btn-primary">Start Import</button>
            </form>
        </div>
        <div class="tab-pane fade in" id="stardust">
            <br/>
            <div style=" width: 50%; height: 200px" >
                <form role="form" action="@routes.Application.importStardust()" method="post">
                    <div class="panel-body">
                        <div class="form-group">
                            <label class="control-label" for="dbURL">Database URL</label>
                            <input id="dbURL" name="dbURL" type="text" placeholder="jdbc:derby://localhost/carnot;user=carnot;password=ag" class="form-control input-md" required="">
                            <span class="help-block">E.g.: jdbc:derby://localhost/carnot;user=carnot;password=ag</span>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="rdfURI">RDF Base URI</label>
                            <input id="rdfURI" name="rdfURI" type="text" placeholder="" class="form-control input-md" required="">
                            <span class="help-block">E.g.: http://www.stardust.com/model.rdf</span>
                        </div>

                        <button type="submit" name="import" class="btn btn-primary">Start Import</button>

                    </div>
                </form>
            </div>
        </div>
        <div class="tab-pane fade in" id="camunda">
            <form role="form" action="@routes.Application.importCamunda()" method="post">
                <div class="panel-body">
                    <div class="form-group">
                        <label class="control-label" for="restURL">Web Service URL</label>
                        <input id="restURL" name="restURL" type="text" placeholder="http://localhost:8080/engine-rest/" class="form-control input-md" required="">
                        <span class="help-block">E.g.: http://localhost:8080/engine-rest/</span>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="rdfURI">RDF Base URI</label>
                        <input id="rdfURI" name="rdfURI" type="text" placeholder="" class="form-control input-md" required="">
                        <span class="help-block">E.g.: http://www.camunda.com/model.rdf</span>
                    </div>

                    <button type="submit" name="import" class="btn btn-primary">Start Import</button>

                </div>
            </form>
        </div>
    </div>
</div>



}