@(message: String)

@base("empty") {

<script type="text/javascript">
    $("#home").removeClass('active');
    $("#data").removeClass('active');
    $("#statistics").addClass('active');
    $("#summary").removeClass('active');
    $("#customsparql").removeClass('active');
</script>


    <div class="page-header">
        <h1>Statistics (Time)</h1>
    </div>

    <style>
        table, th, td
        {
        padding:5px;
        }
        table
        {
        border-spacing:15px;
        }
    </style>

    <div class="bs-example bs-example-tabs">
        <ul id="myTab" class="nav nav-tabs">
            <li class="active"><a href="#workflow" data-toggle="tab">Workflow Statistics</a></li>
            <li><a href="#activity" data-toggle="tab">Activity Statistics</a></li>
            <li><a href="#participant" data-toggle="tab">Participant Statistics</a></li>

        </ul>
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade in active" id="workflow">
                <br/>
                <div style=" width: 50%; height: 200px" >
                    <h4>Set Filter</h4>

                    <div class="panel-body">
                        <table class="myDetailsFilter" cellspacing="0" width="100%">
                            <tr>
                                <td>WFMS System</td>
                                <td><div class="myDetailsFilter"  id='w_filter_systemnames'></div></td>

                            </tr>
                            <tr>
                                <td>Workflow Name</td>
                                <td><div class="myDetailsFilter"  id='w_filter_workflownames'></div></td>

                            </tr>
                        </table>

                    </div>
                </div>
                <button type="button" class="btn btn-primary" onclick="showResultsWorkflow()">Get Results</button><br/><br/>

                <div  class="panel panel-default">
                    <div class="panel-heading">Result</div>
                    <div class="panel-body">
                        <table id="workflowStatisticsResult" class="table table-striped table-bordered" cellspacing="0" width="100%">
                            <thead>
                            <tr>
                                <th>System</th>
                                <th>Workflow</th>
                                <th>Turnaround (AVG/MIN/MAX)</th>
                            </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade in" id="activity">
                <br/>
                <div style=" width: 50%; height: 200px" >
                    <h4>Set Filter</h4>

                    <div class="panel-body">
                        <table class="myDetailsFilter" cellspacing="0" width="100%">
                            <tr>
                                <td>WFMS System</td>
                                <td><div class="myDetailsFilter"  id='a_filter_systemnames'></div></td>

                            </tr>
                            <tr>
                                <td>Workflow Name</td>
                                <td><div class="myDetailsFilter"  id='a_filter_workflownames'></div></td>

                            </tr>
                            <tr>
                                <td>Activity Name</td>
                                <td><div class="myDetailsFilter"  id='a_filter_activitynames'></div></td>

                            </tr>
                        </table>

                    </div>
                </div>
                <button type="button" class="btn btn-primary" onclick="showResultsActivity()">Get Results</button><br/><br/>

                <div  class="panel panel-default">
                    <div class="panel-heading">Result</div>
                    <div class="panel-body">
                        <table id="activityStatisticsResult" class="table table-striped table-bordered" cellspacing="0" width="100%">
                            <thead>
                            <tr>
                                <th>System</th>
                                <th>Workflow</th>
                                <th>Activity</th>
                                <th>Turnaround (AVG/MIN/MAX)</th>
                                <th>Active (AVG/MIN/MAX)</th>
                                <th>Suspend (AVG/MIN/MAX)</th>
                            </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade in" id="participant">
                <br/>
                <div style=" width: 50%; height: 200px" >
                    <h4>Set Filter</h4>

                    <div class="panel-body">
                        <table class="myDetailsFilter" cellspacing="0" width="100%">

                        </table>

                    </div>
                </div>
            </div>
        </div>



    <!-- Placed at the end of the document so the pages load faster -->
    <!-- Core JS -->
    <script src="https://www.google.com/jsapi"></script>

    <!-- My JS -->

    <script src="@routes.Assets.at("js/custom/statistics/statistics.js")"></script>

    <script type="text/javascript">
                    $(document).ready(function() {
                        getSystemNames();
                        getWorkflowNames();
                        getActivityNames();
                        //initializeCheckboxes();

                    });
    </script>

}